<ion-header>
  <ion-toolbar>
    <ion-title>
      Honeywell Test APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <div *ngIf="message" style="margin: 10px 0; padding:20px">{{message}}</div>
    <button style="margin-bottom: 10px; padding: 20px; background: #ccc; width: 100%;" (click)="status == 'disabled' ? enable() : disable()">{{status == 'disabled' ? 'ENABLE' : 'DISABLE' }} SCANNER</button>
    <div style="padding:20px;">Status: {{status}}</div>
    <ul>
      <li *ngFor="let code of barcodes">{{code}}<br></li>
    </ul>

  </div>
</ion-content>